//Variaveis
    //Cores
    $cor-primaria:#0C0421;
    $cor-secundaria:#4E75FF;
    $cor-terciaria:#85A0FF;
    $cor-quarternaria:#E8F5C8;
    $cor-second-bg:#FFFFFF;
    $cor-defaunt:#CAD4FA;
    $cor-first-gradiente: linear-gradient(180deg, $cor-quarternaria 0%, #FFFFFF 96.87%);
    $cor-second-gradient: linear-gradient(180deg, #FFFFFFB3 0%, #CAD4FA4D 100%);
//fontes
    $ft-texts: 'Montserrat', sans-serif;
    $ft-titles: 'Krona One', sans-serif;